.layout { 
  height: 100%;
  border: 2px solid black;
  background-color: lightgreen;
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  grid-template-rows: 10% 85% 5%; 
}

.layout> * {
  border: 2px solid black;
}

.layout>header, footer {
  grid-column: span 12;
}

.layout>aside {

  grid-column: span 2;
  grid-row: span 2;

}

.layout>main {
  grid-column: span 10;   
}

